@media only screen and (min-width: 400px) {
    header {
        padding: 30px 20%;
    }
    
    #opt-dropdown {
        display: none;
    }
    
    #list-opt {
        display: inline-block;
    }
}