:root {
    --primary-color: #0f766eff;
    --secondary-color: #a7d7c5ff;
    --accent-color-1: #f59e0bff;
    --accent-color-2: #f9fafbff;
    --main-text-color: #1f2933ff;
    --site-name-font: "Caveat Brush", cursive;
    --heading-font: "Fredericka the Great", serif;
    --main-font: "Slackside One", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || GENERAL || */

body {
    font-family: var(--main-font);
    background-color: var(--secondary-color);
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

li {
    margin: auto 2rem;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: none;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
}

/* || HEADER || */
#site-name {
    font-family: var(--site-name-font);
}

header {
    padding: 30px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
}

/* || PAGE LAYOUT || */
h2 {
    margin: 1rem .5rem;
    padding: .5rem 2rem;
    width: max-content;
    background-color: var(--accent-color-1);
    border: var(--primary-color) ridge 4px;
}

#main-div {
    display: grid;
    grid-template-columns: calc(100% - 50px) 50px;
    grid-template-rows: repeat(auto-fill, 80px);
    /* grid-template-areas: 
    "page tab1"
    "page tab2"
    "page tab3"; */
    margin: auto;
    padding: 1rem;
    max-width: 850px;
    justify-content: center;
}

.page-content {
    /* grid-area: page; */
    grid-row: 1/4;
    margin-right: 0;
    padding: 2px .5rem;
    min-height: 320px;
    max-width: 800px;
    border: var(--main-text-color) solid 1px;
    background-color: var(--accent-color-2);
}

/* || SHOPPING LIST || */
#list-tab {
    /* grid-area: tab1; */
}

#favorites-tab {
    /* grid-area: tab2; */
}

#settings-tab {
    /* grid-area: tab3; */
}

.page-tab {
    padding-top: calc(50% - 1.2rem);
    width: 50px;
    height: 80px;
    background-color: var(--accent-color-1);
    border: var(--primary-color) solid 3px;
    border-left-width: 0;
    border-radius: 0 35px 35px 0;
    text-align: center;
    font-size: xx-large;
}

/* #shopping-list {
} */

#item-list li {
    list-style-type: none;
    font-size: larger;
}

#list-btns {
    display: flex;
    justify-content: space-between;
}

#opt-dropdown {
    display: inline-block;
}

#list-opt {
    display: none;
}

/* || FOOTER || */
footer {
    padding: 20px;
    background-color: var(--primary-color);
    text-align: center;
}
