:root {
    --primary-color: #0f766eff;
    --secondary-color: #a7d7c5ff;
    --accent-color-1: #f59e0bff;
    --accent-color-2: #f9fafbff;
    --main-text-color: #1f2933ff;
    --site-name-font: "Caveat Brush", cursive;
    --heading-font: "Fredericka the Great", serif;
    --main-font: "Slackside One", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || GENERAL || */

body {
    font-family: var(--main-font);
    background-color: var(--secondary-color);
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

/* h4, h5, h6 {
    font-family: var(--main-font);

} */

/* p {
    font-size: larger;
} */

li {
    margin: auto 2rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    background: none;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
    cursor: pointer;
}

input {
    padding: 3px;
}

/* || CLASSES || */
.hidden {
    display: none;
}

/* || HEADER || */
#site-name {
    font-family: var(--site-name-font);
}

header {
    padding: 30px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
}

/* || PAGE LAYOUT || */
h2 {
    margin: 1rem .5rem;
    padding: .5rem 2rem;
    width: max-content;
    background-color: var(--accent-color-1);
    border: var(--primary-color) ridge 4px;

    animation: titleFromLeft 1s ease;
}

@keyframes titleFromLeft {
    0% {
        transform: translate(-180%, 0);
        /* transform: translate(-180%, 0) scale(100%);
        box-shadow: none; */
    }
    80% {
        transform: translate(100px, 0);
        /* transform: translate(100px, -110%) scale(120%);
        box-shadow: -4px 30px 5px 0px #444; */
    }
    100% {
        transform: translate(0);
        /* transform: translate(0) scale(100%);
        box-shadow: none; */
    }
}

#main-div {
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 80px 80px auto;
    margin: auto;
    padding: 1rem;
    max-width: 850px;
    min-height: max-content;
    justify-content: center;
}

.page-content {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin-right: 0;
    padding: 2px .5rem;
    max-width: 800px;
    min-height: max-content;
    border: var(--main-text-color) solid 1px;
    background-color: var(--accent-color-2);
    box-shadow: 3px 3px 5px 0px;
    z-index: 3;

}

.page-tab {
    padding-top: calc(50% - 1.2rem);
    width: 50px;
    height: 80px;
    background-color: var(--accent-color-1);
    border: var(--primary-color) solid 3px;
    border-left-width: 0;
    border-radius: 0 35px 35px 0;
    text-align: center;
    font-size: xx-large;
    transform: translate(0px, 1px);
    box-shadow: 1px 2px 4px 1px;
    z-index: 1;
    transition: width .8s;
}

.page-tab.current {
    width: 60px;
    transform: scale(110%) translate(2px, 3px);
    box-shadow: 2px 2px 6px 3px;
    z-index: 2;
}

.page-tab:hover {
    width: 75px;
}


/* || SHOPPING LIST || */

/* #shopping-list {
} */

#item-list {
    margin-bottom: 2rem;;
}

#item-list li {
    list-style-type: none;
    font-size: larger;
}

#item-list li p {
    display: inline-block;
}

.mark-item {
    margin: 0 1rem;
    width: 15px;
    height: 15px;
    border: var(--main-text-color) solid 2px;
    border-radius: 3px;
    position: relative;
}

.mark-item.marked::after{
    position: absolute;
    content: "✔";
    font-size: large;
    font-weight: bold;
    translate: -5px -65%;
}

.remove-item {
    margin: 0 1rem;
}

.remove-item::after {
    content: "✖";
    color: #a00;
}

#list-btns {
    display: flex;
    justify-content: space-between;
}

.list-btn {
    font-size: x-large;
    margin: 5px;
}

#opt-dropdown {
    display: inline-block;
}

#list-opt {
    display: none;
}

.store-suggestions {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* scrollbar-color: var(--secondary-color), var(--primary-color);
    overflow-x: scroll; */
}

.store-suggestions div {
    display: inline-block;
    min-width: max-content;
    max-width: 100%;
    margin: .5rem 1rem 1rem;
    padding: 5px;
    border: var(--accent-color-1) solid 1px;
    border-radius: 3px;
    animation: grow 2s ease-in 1 forwards;

}

@keyframes grow {
    from {
        scale: 0;
    }
    to {
        scale: 100%;
    }
}

/* || SETTINGS || */
.setting-section {
    margin: 1rem;
    padding: 1rem;
    border-bottom: var(--main-text-color) solid 1px;

    animation: borderDelay 1.5s ease-in  1 forwards;
}

/* .setting-section * {
    animation: fromLeft 1s linear 1 forwards;

} */

@keyframes fromLeft {
    from {
        transform: translate(-100%, 0);
    }
    to {
        transform: translate(0);
    }
}

@keyframes borderDelay {
    0% {
        /* border: none; */
        border-bottom-color: transparent;
        /* transform: scale(0); */
    }
    80% {
        /* border: none; */
        border-bottom-color: transparent;
        /* transform: scale(0); */
    }
    100% {
        /* border-bottom: var(--main-text-color) solid 1px; */
        border-bottom-color: initial;
        /* transform: scale(100%); */
    }
}



/* || STORES PAGE || */
#stores-page {
    padding: 2rem;
}

#display-stores {
    margin: 2rem;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

/* .remove-store {
    color: #f00;
    padding: 5px 5px;
    margin: 10px 0 0;
} */

.store-card {
    width: 250px;
    height: max-content;
    padding: 2rem;
    margin: 1rem;
    border: var(--accent-color-1) solid 2px;
    word-break: break-all;
    transition: scale 1s, box-shadow 1s;
}

.store-card:hover {
    scale: 1.02;
    box-shadow: 0 2px 10px 0px;

    /* animation: wobble 1.5s ease 0 infinite alternate none; */
}

/* @keyframes wobble {
    0% {
        transform: skewX(10deg);
    }
    50% {
        transform: skewX(0);
    }
    100% {
        transform: skewX(-10deg);
    }
} */

.store-card * {
    margin: 3px auto;
}


/* || FOOTER || */
footer {
    padding: 20px;
    background-color: var(--primary-color);
    text-align: center;
}
