:root {
    --primary-color: #0f766eff;
    --secondary-color: #a7d7c5ff;
    --accent-color-1: #f59e0bff;
    --accent-color-2: #f9fafbff;
    --main-text-color: #1f2933ff;
    --site-name-font: "Caveat Brush", cursive;
    --heading-font: "Fredericka the Great", serif;
    --main-font: "Slackside One", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || GENERAL || */

body {
    font-family: var(--main-font);
    background-color: var(--secondary-color);
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

/* h4, h5, h6 {
    font-family: var(--main-font);

} */

/* p {
    font-size: larger;
} */

li {
    margin: auto 2rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    background: none;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .5);
    cursor: pointer;
}

input {
    padding: 3px;
}

/* || CLASSES || */
.hidden {
    display: none;
}

/* || HEADER || */
#site-name {
    font-family: var(--site-name-font);
}

header {
    padding: 30px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
}

/* || PAGE LAYOUT || */
h2 {
    margin: 1rem .5rem;
    padding: .5rem 2rem;
    width: max-content;
    background-color: var(--accent-color-1);
    border: var(--primary-color) ridge 4px;
}

#main-div {
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 80px 80px auto;
    margin: auto;
    padding: 1rem;
    max-width: 850px;
    min-height: max-content;
    justify-content: center;
}

.page-content {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin-right: 0;
    padding: 2px .5rem;
    max-width: 800px;
    min-height: max-content;
    border: var(--main-text-color) solid 1px;
    background-color: var(--accent-color-2);
}

.page-tab {
    padding-top: calc(50% - 1.2rem);
    width: 50px;
    height: 80px;
    background-color: var(--accent-color-1);
    border: var(--primary-color) solid 3px;
    border-left-width: 0;
    border-radius: 0 35px 35px 0;
    text-align: center;
    font-size: xx-large;
}

/* || SHOPPING LIST || */

/* #shopping-list {
} */

#item-list {
    margin-bottom: 2rem;;
}

#item-list li {
    list-style-type: none;
    font-size: larger;
}

.mark-item {
    margin: 0 1rem;
    width: 15px;
    height: 15px;
    border: var(--main-text-color) solid 2px;
    border-radius: 3px;
    position: relative;
}

.mark-item.marked::after{
    position: absolute;
    content: "✔";
    font-size: large;
    font-weight: bold;
    translate: -5px -65%;
}

.remove-item::after {
    content: "✖";
}

#list-btns {
    display: flex;
    justify-content: space-between;
}

.list-btn {
    font-size: x-large;
    margin: 5px;
}

#opt-dropdown {
    display: inline-block;
}

#list-opt {
    display: none;
}

/* || SETTINGS || */
.setting-section {
    margin: 1rem;
    padding: 1rem;
    border-bottom: var(--main-text-color) solid 1px;
}



/* || SETTINGS - STORES || */
#display-stores {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

#display-stores li {
    width: 225px;
    padding: 1rem 0;
}

.remove-store {
    color: #f00;
    padding: 5px 5px;
    margin: 10px 0 0;
}



/* || FOOTER || */
footer {
    padding: 20px;
    background-color: var(--primary-color);
    text-align: center;
}
